# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage

# IDE-specific files (example for VS Code)
.vscode/

# Logs and temporary files
*.log

#data
\data

# Secret Keys
.env